//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';

//global layout and sizes

html, body, article{
  @include size(100%, 100%);
}

html{
  @include font;
  background-color: -color-3;
}

body{
  @include flex(flex-start, flex-start, column);
  background-color: $background-color-3;
  margin:0;
}

header{
  background-color: $background-color-1;
  @include size(60px, 100%);
}

aside{
  background-color: white;
  @include size(100%, 280px);
}

article{
  @include flex(flex-start, flex-start, row);
}


// container

.container{
  @include flex(flex-start, space-between, column);
  width: calc(100% - 280px);
  padding: 20px;

}

.section{
  @include flex(flex-start, flex-start, row);
  flex-wrap: wrap;
  width: 100%;
}

.card{
  @include secondary-alt;
  // flex-grow: 1;
  width: 22%;
  margin-bottom: 20px;

  &:hover{
    color: $font-color-1;
  }

  &:not(:last-child){
    margin-right: 20px;
  }
}
