//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';

//global layout and sizes

html, body, article{
  @include flex(stretch, strecth, column);
  margin:0;
}

html{
  @include font;
  background-color: -color-3;
}

body{
  @include flex(stretch, flex-start, column);
  background-color: $background-color-3;
}

header{
  background-color: $background-color-1;
  @include size(60px, 100%);
  padding: 20px;
  position: fixed;
  z-index: 20;
  @include flex(center, space-between, row);
  svg{
    @include size(16px, 22px);
    fill:$background-color-4;
  }
}

aside{
  position: fixed;
  background-color: white;
  @include size(auto, 240px);
  min-height: 100vh;
  display: flex;
  flex-shrink: 0;
  flex-flow: column;
  padding: 0 20px;
  h1{
    margin-top: 40px;
    line-height: 0;
    text-align: left;
  }
  span{
    font:$p-alt;
    color: $font-color-4;

    margin-top: 0;
  }
  p{
    line-height: 10px;
    font-weight: 500;
    margin: 0;
    color: $font-color-1;
    margin-top: 10px;
    position: relative;
  }
}

.active{
  margin: 10px -20px 0 -20px;
  padding: 12px 20px;
  background-color: $semi-white-blue;
  &::after{
    content: '';
    position: absolute;
    @include size(100%, 2px);
    background-color: $blue-1;
    top:0;
    right: 0;
  }
}

.small-sep{
  width: 30px;
  border-bottom: 1px solid $border-color-2;
  margin: 20px 0 0px 0;
}

article{
  margin-top: 60px;
  @include flex(stretch, flex-start, row);
  flex-grow: 1;
}

h1{
  font:$h1;
}

.searchnav{
  @include flex(center, center, row);
  > * {
    margin-right: 20px;
    position: relative;
  }
  &::before{
      content:"";
      @include size(12px, 12px);
      position: absolute;
      background: url('../img/search-icon.svg');
      top:24px;
      left: 62px;
      z-index: 10;
    }
}

.search-bar{
  @include size( 32px, 250px);
  position: relative;
  outline: none;
  background-color: $background-color-2;
  padding:8px 8px 8px 30px;
  border: none;
  border-radius: 4px;
  font:$p;
  font-weight: 500;
  color:white;
  &::placeholder{color:white;}
}

.hamburger-icon{
  @include size(14px, 14px);
  @include flex(center, space-between, column);
  .icon-line{
    @include size(2px, 100%);
    display: block;
    background-color: $font-color-3;
    border-radius: 1px;
  }
}

.status{
  @include flex(center, flex-end, row);

  .icon{
    @include size(14px, 14px);
    margin-right: 50px;
    position: relative;

    &::after{
      content: '3';
      position: absolute;
      padding: 5px 6px;
      background-color:red;
      left:25px;
      top:-2px;
      font-size: 12px;
      line-height: 7pt;
      display: block;
      font-weight: 600;
      color:white;
      border-radius: 4pc;
    }
  }

  .bell{
    background: url('../img/bell.svg');
    &::after{background-color: $red-1;}
  }
  .task{
    background: url('../img/task.svg');
    &::after{background-color: $blue-1;}
  }


  h6{
    margin-left: 10px;
    font:$p;
    color: $font-color-4;
    font-weight: 500;
  }
}

// buttons
.primary { @include primary }

.primary-alt{
  @include primary-alt;
  display: inline-flex;
  position: relative;
  border-radius: 4px 0px 0px 4px;
  font-weight: 500;
}

.secondary{ @include secondary }

.secondary-alt{ @include secondary-alt
  font-weight: 500; }

.button-group{
  @include flex(center, flex-start,row);
  width: 100%;
  display: block;
  & > *{ margin-right: 10px;}
  padding-bottom: 10px;
}
.btn-group{
  @extend .button-group;
  justify-content: space-between;
}

.multi-primary{
  @include flex(center, flex-start, row);
  display: inline-flex;
  height: 32px;
}

.arrow{
  @include primary-alt;
  border-radius: 0px 4px 4px 0px;
  display: inline-block;
  position: relative;

  @include size(32px, 8px);
  border-left: 1px solid $blue-2;
  padding-right: 16px;
  top: 0;
  right: 0;

  &::before, &::after {
    @include size(4.5px, 1.5px);
    @include transition (transform);
    content: '';
    transform-origin: bottom;
    display: block;
    position: absolute;
    top: 13px;
    right: 15px;
    border-radius: 3px;
    z-index: 3;
    background-color: $white;
  }

  &::before{ transform: translateX(-0.25px) rotate( 45deg); }
  &::after { transform: translateX( 0.25px) rotate(-45deg); }
}


// main

.container{
  @include flex(flex-start, flex-start, column);
  padding: 20px;
  margin-left: 240px;
}

.container > * {
  margin-bottom: 20px;
}

.section{
  @include flex(flex-start, flex-start, row);
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin-bottom: 20px;
}

.clear{
  font-size: 12px;
  line-height: 8px;
}

[data-type='section-title']{
  font: $h4;
  color: $font-color-2;
  &:first-of-type{
    margin-top: 10px;
  }
}

[data-size='fw']{
  width: 100%;
}

label {
  font: $h4;
  color:$font-color-2;

}
input[type='text']{
  @include size(32px, 100%);
  border-radius: 4px;
  border: none;
  outline: none;
  margin-top: 10px;
  padding: 8px 10px;
  @include transition(border-color);
  border: 1px solid transparent;
  font: $p;
  &:focus{
    border: 1px solid $blue-1;
  }
}

input[type='checkbox']{
  display: inline-flex;
  margin-right: 10px;
  pointer-events: none;
}

.card{
  width: calc(25% - 20px);
  margin-right: 20px;
  min-width: 280px;
}

.card-body{
  @include secondary-alt;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 0 0 4px 4px;
  &:hover{
    color: $font-color-1;
  }

  &:not(:last-child){
    margin-right: 20px;
  }

  p:first-of-type{
    margin-top: 0;
  }
}

a{@include link;}

.card-header{
  @include size(40px,100%);
  @include flex(center, space-between, row);
  border-radius: 4px 4px 0 0;
  padding: 15px 20px;
  border-bottom: 1px solid $border-color-3;
  background-color: white;
}

h5{
  @include flex(center, flex-start, row);
  font: $p-alt;
  height: 9px;
  line-height: 9pt;
  font-weight: 500;
}

code{
  font:$p-alt;
  font-size: 12px;
  @include size(20px, auto);
  background-color: $red-1;
  padding: 5px 6px;
  border-radius: 3pc;
  color:white;
  font-weight: 500;
  min-width: 20px;
  text-align: center;
  &:hover{
    background-color: $dark-red-3;
    cursor: pointer;
  }
}

h4{
  font:$h4;
  margin-top: -4px;
  color:$font-color-2;
}

//table

.fw{
  width: 100%;
}

.table-container{
  width: 100%;
  background-color: white;
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 30px;

  table{
    width: 100%;
  }
  td{
    border-bottom: 1px solid $border-color-3;
  }

  tr td:first-child{
    padding: 20px;
    border-bottom: 1px solid $border-color-3;
  }
}


//media queries

@media (min-width: 2200px) {
  .card{
    width: calc(20% - 20px);
  }
}

@media (max-width: 1510px) {
  .card{
    width: calc(33% - 17px);
  }
}

@media (max-width: 1210px) {
  .card{
    width: calc(50% - 20px);
  }
}

@media (max-width: 902px) {
  .card{
    width: 100%;
  }
}

@media (max-width: 560px) {
  aside{
    display: none;
  }

  .container{
    margin-left: 0;
  }
  
  .status h6{
    display: none;
  }

  .icon:last-of-type{
    margin-right: 20px;
  }

  .container{
    width: 100%;
  }
}
